<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title><%= current_page.data.title || "Erica Eso" %></title>

  <%= stylesheet_link_tag "slider" %>
  <%= stylesheet_link_tag "application" %>
  <script src="//use.typekit.net/yuo6xhc.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>

<body class="<%= page_classes %>">
  <header class="global">
    <h1><span>EMMA</span><span>Rae</span><span>Works</span></h1>
  </header>
  <%= yield %>
  <script src="javascripts/vendor/jquery.min.js"></script>
  <script src="javascripts/vendor/underscore-min.js"></script>
  <script src="javascripts/scroll.js"></script>
  <script>$(function($){ ERW.initialize(); });</script>
</body>
</html>
